@model ProyectoCrud.DAL.Models.RegisterRequest
@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@Html.ValidationSummary()
<div class="container">
    <div class="row">
        <div class="col-md-6 center-block">
            <h3>Regístrate</h3>
            <form asp-action="Registration" method="post">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" asp-for="FirstName" />
                    <span class="text-danger" asp-validation-for="FirstName"></span>
                </div>

                <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" class="form-control" asp-for="LastName" />
                    <span class="text-danger" asp-validation-for="LastName"></span>
                </div>

                <div class="form-group">
                    <label>¿Cuál es tu email?</label>
                    <input type="text" class="form-control" asp-for="Email" />
                    <span class="text-danger" asp-validation-for="Email"></span>

                </div>

                <div class="form-group">
                    <label>Nombre de usuario</label>
                    <input type="text" class="form-control" asp-for="Username" />
                    <span class="text-danger" asp-validation-for="Username"></span>

                </div>

                <div class="form-group">
                    <label>Crea una contraseña</label>
                    <input type="password" class="form-control" asp-for="Password" />
                    <span class="text-danger" asp-validation-for="Password"></span>

                </div>

                <div class="form-group">
                    <label>Confirma tu contraseña</label>
                    <input type="password" class="form-control" asp-for="ConfirmPassword" />
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

                </div>

                @if (TempData["msg"] != null)
                {
                    <div class="form-group">
                        <span class="text-success">@TempData["msg"]</span>
                    </div>
                }
                <div class="botones">
                    <button type="submit" class="btn btn-success">Registrarte</button>
                    <a class="btn btn-primary" href="/Account/Login">Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>